* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  overflow-x: hidden;
}
body header {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
body header span {
  color: var(--red-color);
  font-weight: 700;
  font-size: 1.2em;
}
body header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 85px;
}
body header nav .link-container {
  margin: 12px;
  padding: 12px 24px;
}
body header nav a {
  color: var(--text-color);
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  position: relative;
  transition: all 0.3s;
}
body header nav a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 0%;
  left: 0px;
  height: 2px;
  transition: width ease 0.3s;
  background: var(--red-color);
}
body header nav a:visited {
  color: var(--text-color);
}
body header nav a:hover {
  color: var(--red-color);
}
body header nav a:hover::after {
  width: 100%;
}
@media (max-width: 768px) {
  body header nav {
    display: none;
  }
}
body header .menu-mobile {
  display: none;
  position: relative;
}
body header .menu-mobile .burger-opener {
  display: inline-block;
  width: 30px;
  height: 2px;
  background: var(--text-color);
  position: relative;
}
body header .menu-mobile .burger-opener::before, body header .menu-mobile .burger-opener::after {
  content: "";
  width: 30px;
  height: 2px;
  display: inline-block;
  position: absolute;
  background: var(--red-color);
  transform-origin: center;
  transition: all 0.3s ease;
}
body header .menu-mobile .burger-opener::before {
  top: -7px;
}
body header .menu-mobile .burger-opener::after {
  top: 7px;
}
body header .menu-mobile .burger-opener.open {
  background: transparent;
}
body header .menu-mobile .burger-opener.open::before {
  transform: rotate(45deg);
  top: 0;
}
body header .menu-mobile .burger-opener.open::after {
  transform: rotate(-45deg);
  top: 0;
}
@media (max-width: 768px) {
  body header .menu-mobile {
    display: block;
  }
}
body header ul {
  background: var(--text-color);
  position: absolute;
  width: 150px;
  right: 0;
  top: 30px;
  transform: scaleY(0);
  transform-origin: center top;
  transition: all 0.3s ease;
}
body header ul.open {
  transform: scaleY(1);
}
body header ul li {
  text-align: center;
  padding: 10px;
}
body header ul li a {
  text-decoration: none;
  color: var(--bg-color);
}
body main .home {
  padding: 72px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
body main .home__title h1 {
  font-weight: 400;
  margin-bottom: 24px;
  font-size: 4em;
}
body main .home__title h1 span {
  color: var(--red-color);
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 660px) {
  body main .home__title h1 {
    font-size: 3em;
  }
}
@media (max-width: 480px) {
  body main .home__title h1 {
    font-size: 2em;
  }
}
body main .home__subtitle {
  text-align: end;
}
body main .home__subtitle p {
  font-size: 2em;
  font-weight: 300;
}
@media (max-width: 660px) {
  body main .home__subtitle p {
    font-size: 1.5em;
  }
}
@media (max-width: 480px) {
  body main .home__subtitle p {
    text-align: center;
    font-size: 1.4em;
  }
}
body main .home__picture {
  max-width: 45%;
}
body main .home__picture img {
  max-width: 100%;
}
@media (max-width: 1024px) {
  body main .home {
    flex-direction: column;
    padding-bottom: 0;
  }
}
body main .skills .skill {
  min-width: 20%;
  text-align: center;
  padding: 12px 6px;
}
body main .skills__technical-skills {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main .skills__technical-skills > div:not(:nth-child(3)) {
  border-bottom: 1px solid var(--red-color);
}
body main .skills__technical-skills .advanced, body main .skills__technical-skills .intermediate, body main .skills__technical-skills .beginner {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 24px;
  padding-bottom: 24px;
}
body main .skills__technical-skills .advanced-skills, body main .skills__technical-skills .intermediate-skills, body main .skills__technical-skills .beginner-skills {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  body main .skills__technical-skills .beginner {
    margin-bottom: 0;
  }
}
body main .skills__soft-skills {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
body main .projects .project {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 48px 24px;
  background-color: var(--bg-color);
  transition: background-color ease 0.5s;
}
body main .projects .project__illustration {
  max-width: 40%;
}
body main .projects .project__description p {
  margin-bottom: 12px;
  line-height: 1.4;
}
body main .projects .project__description a {
  color: var(--red-color);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
}
body main .projects .project__description a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 0%;
  left: 0px;
  height: 2px;
  transition: width ease 0.3s;
  background: var(--red-color);
}
body main .projects .project__description a:hover::after {
  width: 100%;
}
@media (max-width: 1024px) {
  body main .projects .project__description {
    padding: 24px;
  }
}
body main .projects .project:nth-child(odd) {
  flex-direction: row-reverse;
}
body main .projects .project:nth-child(odd) .project__description {
  text-align: center;
}
@media (max-width: 1024px) {
  body main .projects .project:nth-child(odd) {
    flex-direction: column;
  }
}
body main .projects .project:hover {
  background-color: var(--bg-color-light);
}
@media (max-width: 1024px) {
  body main .projects .project {
    padding: 24px;
    flex-direction: column;
    text-align: center;
  }
}
body main .contact h3 {
  text-align: center;
  margin-bottom: 48px;
}
body main .contact__informations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .contact__informations a {
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 24px;
}
body main .contact__network {
  display: flex;
  justify-content: space-around;
}
body main .contact__network .link {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  text-decoration: none;
}
body main .contact__network .link .social_network {
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 25px;
  border: 0;
  position: relative;
  transition: all 0.2s;
}
body main .contact__network .link .social_network i {
  font-size: 2em;
}
body main .contact__network .link .social_network::before, body main .contact__network .link .social_network::after {
  border: 2px solid var(--text-color);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px;
  transition: all 0.2s;
}
body main .contact__network .link .social_network:hover::before {
  transform: translate(8px, 8px);
}
body main .contact__network .link .social_network:hover::after {
  transform: translate(-8px, -8px);
}/*# sourceMappingURL=index.css.map */