* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    overflow-x: hidden;

    header {
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        span {
            color: var(--red-color);
            font-weight: 700;
            font-size: 1.2em;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 85px;

            .link-container {
                margin: 12px;
                padding: 12px 24px;
            }

            a {
                color: var(--text-color);
                font-weight: 700;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                padding-bottom: 3px;
                position: relative;
                transition: all .3s;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    width: 0%;
                    left: 0px;
                    height: 2px;
                    transition: width ease .3s;
                    background: var(--red-color);                    
                }

                &:visited {
                    color: var(--text-color);
                }

                &:hover {
                    color: var(--red-color);
                    
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        .menu-mobile {
            // display: none;
            position: relative;

            .burger-opener {
                display: inline-block;
                width: 30px;
                height: 2px;
                background: var(--text-color);
                // color: var(--text-color);
                position: relative;
    
                &::before, &::after {
                    content: "";
                    width:30px;
                    height:2px;
                    display: inline-block;
                    position: absolute;
                    background: var(--red-color);
                    transform-origin: center;
                    transition: all .3s ease;
                }
    
                &::before {
                    top: -7px;
                }
    
                &::after {
                    top: 7px;
                }
                
                &.open {
                    background:transparent;
    
                    &::before {
                        transform: rotate(45deg);
                        top:0;
                    }
                    &::after {
                        transform: rotate(-45deg);
                        top:0;
                    }
                }
            }

            ul {
                background: var(--text-color);
                position: absolute;
                width: 100%;
                left: 0;
                top: 100%;
                transform: scaleY(0);
                transform-origin: center top;
                transition: all .3s ease;

                &.open {
                    transform: scaleY(1);
                }

                li {
                    text-align: center;
                    padding: 10px;

                    a {
                        text-decoration: none;
                        color: var(--bg-color);
                    }
                }
            }
        }
    }

    main {
        .home {
            padding: 72px 0;
            display: flex;
            align-items: center;
            justify-content: space-around;

            &__title {
                h1 {
                    font-weight: 400;
                    margin-bottom: 24px;
                    font-size: 4em;
    
                    span {
                        color: var(--red-color);
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }

            &__subtitle {
                text-align: end;

                p {
                    font-size: 2em;
                    font-weight: 300;
                }
            }
        }

        .skills {

            .skill {
                min-width: calc(100% / 5);
                text-align: center;
                padding: 12px 6px;
            }
            

            &__technical-skills{
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                > div {
                    &:not(:nth-child(3)) {
                        border-bottom: 1px solid var(--red-color);
                    }
                }

                .advanced, .intermediate, .beginner {
                    width: 60%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-direction: column;
                    margin-bottom: 24px;
                    padding-bottom: 24px;
                }

                .advanced-skills, .intermediate-skills, .beginner-skills {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
            }

            &__soft-skills {
                width: 60%;
                margin: auto;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }

        .projects {
            .project {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 48px 24px;
                background-color: var(--bg-color);
                transition: background-color ease .5s;

                &__illustration {
                    max-width: 40%;
                }

                &__description {
                    p {
                        margin-bottom: 12px;
                    }

                    a {
                        color: var(--red-color);
                        font-weight: 500;
                        text-decoration: none;
                        position: relative;
                        transition: all .3s;
        
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0px;
                            width: 0%;
                            left: 0px;
                            height: 2px;
                            transition: width ease .3s;
                            background: var(--red-color);                    
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }

                &:nth-child(odd) {
                    flex-direction: row-reverse;

                    .project__description {
                        text-align: right;
                    }
                }

                &:hover {
                    background-color: var(--bg-color-light);
                }
            }
        }

        .contact {
            h3 {
                text-align: center;
                margin-bottom: 48px;
            }
            &__informations {
                display: flex;
                flex-direction: column;
                align-items: center;

                a {
                    text-decoration: none;
                    color: var(--text-color);
                    margin-bottom: 24px;
                }
            }
            &__network {
                display: flex;
                justify-content: space-around;

                .link {
                    font-family: Arial, Helvetica, sans-serif;
                    color: var(--text-color);
                    text-decoration: none;
                    // font-size: 1.2em;
                    
                    .social_network {
                        width: 110px;
                        height: 110px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 15px;
                        padding: 25px;
                        border: 0;
                        position: relative;
                        transition: all 0.2s;
                
                        i {
                            font-size: 2em;
                        }
                
                        &::before, &::after {
                            border: 2px solid var(--text-color);
                            content:"";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0px;
                            bottom: 0px;
                            transition: all .2s;
                        }
                    
                        &:hover {
                            &::before {
                                transform: translate(8px, 8px);
                            }
                    
                            &::after {
                                transform: translate(-8px, -8px);
                            }
                        }
                    }
                }
            }
        }
    }
}