* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);

    header {
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        span {
            color: var(--red-color);
            font-weight: 700;
            font-size: 1.2em;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 85px;

            .link-container {
                margin: 12px;
                padding: 12px 24px;
            }

            a {
                color: var(--text-color);
                font-weight: 700;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                padding-bottom: 3px;
                position: relative;
                transition: all .3s;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    width: 0%;
                    left: 0px;
                    height: 2px;
                    transition: width ease .3s;
                    background: var(--red-color);                    
                }

                &:visited {
                    color: var(--text-color);
                }

                &:hover {
                    color: var(--red-color);
                    
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    main {
        .home {
            // height: calc(100vh - 85px);
            padding: 72px 0;
            display: flex;
            align-items: center;
            justify-content: space-around;

            &__title {
                h1 {
                    font-weight: 400;
                    margin-bottom: 24px;
                    font-size: 7em;
    
                    span {
                        color: var(--red-color);
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }

            &__subtitle {
                p {
                    font-size: 4em;
                    font-weight: 300;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
    
                    // &:before {
                    //     content: "";
                    //     display: inline-block;
                    //     width: 16px;
                    //     height: 16px;
                    //     border-radius: 50%;
                    //     background: var(--text-color);
                    //     margin-right: 8px;
                    // }
                }
            }
        }

        .skills {

            .technical-skills{
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin: 48px 0;
            }

            .soft-skills {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
        }
    }
}