* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    max-width: 90%;
    margin: auto;
    // color: #fff;

    header {
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        span {
            color: var(--red-color);
            font-weight: 700;
            font-size: 1.2em;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 85px;

            a {
                color: var(--text-color);
                font-weight: 700;
                text-decoration: none;
                margin: 12px;
                padding: 12px 24px;
                position: relative;
                transition: all .3s;

                &:visited {
                    color: var(--text-color);
                }

                &:hover {
                    color: var(--red-color);
                }
            }
        }
    }

    main {
        .home {
            height: calc(100vh - 85px);
            display: flex;
            align-items: center;
            justify-content: space-around;

            &__title {
                h1 {
                    font-weight: 300;
                    margin-bottom: 24px;
                    font-size: 7em;
    
                    span {
                        color: var(--red-color);
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }

            &__subtitle {
                p {
                    font-size: 4em;
                    font-weight: 400;
    
                    &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: var(--red-color);
                    }
                }
            }

            // .toto {
            //     width: 200px;
            //     height: 500px;
            //     background-color: var(--text-color);
            // }
        }

        .skills {
            // display: none;

            p:nth-child(odd) {
                font-family: var(--font-family-title);
            }
        }
    }
}