@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

:root {
    --bg-color: #F4F2EC;
    --bg-color-light: #EAE8DC;
    --text-color: #0E3746;
    --red-color: #BE2623;
    --font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 1.5em;
    color: var(--red-color);
}